<app-header></app-header>
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Products</h1>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Event</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Description</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="profile"
                aria-selected="false">Specification</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Gallery</a>
        </li>
    </ul>
    <form #data="ngForm" (ngSubmit)="OnSubmit(data)">
        
        <div class="tab-content" id="myTabContent">
            <!-- Event and Cover Image Start -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-6 p-3">
                        <h4>Title</h4>
                        <input type="text" class="form-control" name="ProductTitle" placeholder="Product Title" ngModel required>
                        <br>
                        <br>
                        <h4>Select Category</h4>
                        <select name="product_category" class="form-control" ngModel required>
                            <option value="Network Camera">Network Camera</option>
                            <option value="CP-MED">CP-MED</option>
                            <option value="Body Temprature">Body Temprature</option>
                        </select>
                        <br>
                        <h4>Select Product Datasheet</h4>
                        <input type="file" name="datasheet" class="form-control" ngModel required (change)="datasheetFile($event)">
                    </div>

                    <div class="col-lg-4 col-md-4 col-6 mx-auto p-3">
                        <h4>Cover Image</h4>
                        <img [src]="imgSrc" width="100%" height="200px" (click)="fileUploader.click()">
                        <input type="file" style="display: none;" required class="form-control pb-2" #fileUploader (change)="CoverImg($event)"
                            name="file" ngModel accept="image/*" /><br><br>
                        <a class="btn" style="background-color: #1C4F9C;color: #fff;" (click)="fileUploader.click()">Upload</a>
                    </div>
                </div>
            </div>
            <!-- Event and Cover Image End -->

            <!-- Description Start -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
               <div class="row">
                   <div class="col-lg-10 col-md-10 col-12 p-3">
                        <h4>Description</h4><br>
                        <editor name="description" ngModel
                        [init]="{
                          height: 500,
                          menubar: false,
                          plugins: [
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                          ],
                          toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                        }"
                      ></editor>
                   </div>
               </div>
            </div>
            <!-- Description End -->
            
            <!-- Specification Start -->
            <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="profile-tab">
               <div class="row">
                   <div class="col-lg-10 col-md-10 col-12 p-3">
                        <h4>Specification</h4><br>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-12 card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Key</th>
                                            <th scope="col">Value</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><input type="text" #key class="form-control" name="key"></td>
                                            <td><input type="text" #value class="form-control" name="value"></td>
                                            <td><button class="btn btn-success" type="button" (click)="onAddSpecification(key,value)">Add</button></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-8 col-md-8 col-12 card">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Key</th>
                                            <th scope="col">Value</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let data of specificationArray;let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{data.key}}</td>
                                            <td>{{data.value}}</td>
                                            <td><button type="button" (click)="onSpecificationDelete(i)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
            <!-- Specification End -->

            <!-- Gallery Start -->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card mx-auto GalleryAdd my-4">
                    <div class="card-body">
                        <input type="file" name="file" class="inputfile custom-file-input" multiple
                            (change)="galleryImageProcessing($event)" #galleryImage accept="image/*" ngModel required />
                        <a class="btn my-3" (click)="galleryImage.click()"  style="background-color: #1C4F9C; color: #fff;" type="submit">Upload</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg- col-md-3 col-12" >
                        
                    </div>
                </div>
                <div class="row border-bottom mb-3">
                    <h5>Preview</h5>
                    <div class="col-lg-3 col-md-3 col-12 py-3" *ngFor="let url of images;let i = index">                    
                        <div class="card bg-dark text-white">
                            <img [src]="url" height="200px" width="100%" style="margin: 3px;">
                        </div>
                    </div>
                </div>
                <button class="btn" [disabled]="data.invalid" style="background-color: #1C4F9C;color: #fff;">Save Post</button>
            </div>
        </div>
    </form>
</main>
